html,body{
  margin: 0 !important;
  height: 85%;
}

h2.display-3.text-center{
  /*font-family: 'Pacifico', cursive;*/
  color: #4166a3 !important;
}

@media (min-width: 768px) {
    .navbar.navbar-inverse {
        border-radius: 0px !important;
    }
}

section{
  min-height: 100% !important;
}

.subTitulo{
    padding: 2% 2%;
    margin: 0 !important;
}

.login {
  margin: 0 !important;
  padding: 0 !important;
}

form.login-hidden {
	display: none;
}

.jumbotron{
  margin-bottom: 0px !important;
}

footer p{
  color: white;
  padding: 1%;
}

footer.navbar.navbar-inverse{
  margin: 0 !important;
}

.solic-aluno{
  margin: 5%;
}

.botao-solic{
  margin: 5% 35%;
}
